:root {
  --black: #34343;
  --bg: #fbe368;
  --shadow1: 0px 13px 48px -1px rgba(0, 0, 0, 0.25);
  --shadow1: 0px 13px 48px rgba(0, 0, 0, 0.13);
  --pink: #fe956f;
}

body {
  margin: 0;
  transition: all 3ms ease;
  background: var(--bg);
  font-family: sans-serif;
  color: var(--black);
  scroll-behavior: smooth;
  box-sizing: border-box;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  height: 12px;
  width: 12px;
}
::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 1ex;
}
::-webkit-scrollbar-thumb {
  background: skyblue;
  border-radius: 1ex;
}
a {
  text-decoration: none;
  color: inherit;
}
* {
  margin: 0;
  padding: 0;
}
/* Header */

.header-container {
  display: flex;
  padding: 1.5rem;
}
.logo {
  display: flex;
  align-items: center;
  flex: 1;
}
.header-logo {
  width: 4.5rem;
  height: 1.5rem;
  font-weight: 600;
  color: rgb(119, 119, 240);
  font-size: 1.3rem;
}

.right-logo {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}
.menu-list {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  font-weight: 500;
  list-style-type: none;
}
.menu-list > li:hover {
  color: #fe956f;
  cursor: pointer;
}
.header-search {
  width: 7rem;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 0.5rem;
  height: 30%;
}

.cart {
  font-size: 1.5rem;
  cursor: pointer;
}
.hero-img {
  width: 600px;
  height: 600px;
  border-radius: 50%;
}
.cart2 {
  bottom: 49%;
  right: 1%;
  display: flex;
  gap: 1rem;
  align-items: center;
  position: absolute;
}
.cart2 > p {
  display: flex;
  align-items: center;
  width: 30px;
  font-size: 3rem;
  font-weight: 900;
  border: 6px solid var(--bg);
  height: 30px;
  background: white;
  padding: 10px;
  border-radius: 50%;
  justify-content: center;
}
.hero-signup {
  display: flex;
  gap: 1rem;
  align-items: center;
  background: white;
  padding: 10px;
  border-radius: 15px;
  box-shadow: var(--shadow1);
}
.hero-signup > span {
  display: flex;
  width: 6rem;
}
.hero-signup > div {
  border-radius: 50%;
  border: 1px solid skyblue;
  display: flex;
  width: 20px;
  height: 20px;
  padding: 5px;
  justify-content: center;
  align-items: center;
}
.hero-container {
  padding: 0 2rem;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  margin-bottom: 3rem;
}
.middle-hero {
  display: flex;
  justify-content: center;
  align-items: baseline;
  position: relative;
}
.hero-side {
  display: grid;
  grid-template-rows: 1fr 1fr;
}
.hero-text1 {
  text-transform: uppercase;
  font-size: 1.5rem;
  width: min-content;
  display: block;
  font-weight: 600;
}
.hero-text2 {
  display: flex;
  flex-direction: column;
  width: min-content;
  color: black;
}
.hero-text2 > :nth-child(1) {
  text-transform: capitalize;
  font-weight: 800;
  font-size: 2.5rem;
}

.hero-text2 > :nth-child(2) {
  display: block;
}
.traffic {
  display: flex;
  flex-direction: column;
  text-align: right;
}
.traffic > :nth-child(1) {
  font-weight: 800;
  font-size: 2.5rem;
}
.customers {
  display: flex;
  flex-direction: column;
  text-align: right;
}
.customers > :nth-child(1) {
  font-weight: 800;
  font-size: 2.5rem;
}

/* Swiper */
.slider-container {
  position: relative;
}
.slider-container .swiper {
  width: 70%;
  height: 12rem;
  position: unset;
}
.slider-container .swiper-slide {
  display: flex;
  background: white;
  border-radius: 30px;
  padding: 1rem;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
}

.slider-container .swiper-button-prev {
  left: 6rem;
}
.slider-container .swiper-button-next {
  right: 6rem;
}
.slider-container .swiper-button-prev,
.slider-container .swiper-button-next {
  color: black;
}
.left-s {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.name {
  display: flex;
  flex-direction: column;
}
.name > span:nth-child(1) {
  font-size: 1.4rem;
  font-weight: 600;
}
.name > span:nth-child(2) {
  font-size: 0.7rem;
}
.left-s:nth-child(2) {
  font-weight: bold;
  font-size: 2rem;
}
.left-s:nth-child(3) {
  font-size: 0.6rem;
  border: 1px solid var(--black);
  padding: 5px 10px;
  width: max-content;
  border-radius: 15px;
}
.img-product {
  width: 10rem;

  height: 10rem;
  border-radius: 10%;
}

/* Virtual */
.virtual-container {
  margin: 6rem 0;
  padding: 2rem;
  display: flex;
  justify-content: space-around;
}
.left-virtual {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: relative;
}
.left-virtual > span:nth-child(1) {
  font-size: 2rem;
  text-transform: uppercase;
  display: block;
  font-weight: bold;
  width: 20rem;
}
.left-virtual > span:nth-child(2) {
  font-size: 1.6rem;
  text-transform: uppercase;
  display: block;
  width: 20rem;
}
.left-virtual > span:nth-child(3) {
  font-size: 1.6rem;
  font-weight: bold;
}
.right-virtual {
  cursor: pointer;
}
.virtual-img {
  width: 25rem;
  border-radius: 2rem;
}

/* Product */
.product-container {
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

.product-logo {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.products {
  display: grid;
  width: 90%;
  grid-template-columns: 25% auto;
}
.product-menu {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  gap: 2rem;
  font-weight: 500px;
  font-size: 1.3rem;
}
.product-menu > li:hover {
  color: var(--pink);
  cursor: pointer;
}
.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  overflow-y: scroll;
  grid-gap: 2rem;
  justify-content: space-between;
}
.image-product {
  top: 3rem;
}
.product-image {
  top: 3rem;
  width: 6rem;
  height: 7rem;
}
.product {
  width: 12rem;
  height: 8rem;
  background: white;
  position: relative;
  overflow: hidden;
  padding: 0.8rem;
  display: flex;
  border-radius: 1rem;
}
/* Testmonials */
.testmonials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem 2rem;
}
.testmonials-wrapper {
  display: grid;
  align-items: flex-end;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
}
.testmonials-wrapper > img {
  width: 19rem;
  padding-top: 3rem;
  justify-content: center;
  border-radius: 50%;
  height: 15rem;
  border-bottom: none;
}
.testmonials-conainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.testmonials-conainer > span:nth-child(1) {
  font-size: 2rem;
  text-transform: uppercase;
  display: block;
  font-weight: bold;
}

.testmonials-conainer > span:nth-child(2),
.review {
  font-size: 0.8rem;
  text-transform: uppercase;
  display: block;
}
.review {
  font-size: 0.8rem;
  text-transform: uppercase;
  display: block;
  font-weight: 300;
}
.testmonials-wrapper > div:nth-child(3) {
  text-align: right;
}
.carousal {
  width: 100%;
  padding: 2rem;
}

.testimony {
  display: flex;
  flex-direction: column;
  position: relative;
  background: white;
  border-radius: 0.5rem;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  gap: 1;
  box-shadow: 0rem 1rem 3rem -50px #7d7d7d;
}
.testmonial-image {
  border-radius: 2rem;
  top: -1.5rem !important;
  left: 45%;
  padding-bottom: 1rem;
}
.testmonial-comments {
  font-size: 0.8rem;
  padding-bottom: 1rem;
}
.testmonial-name {
  color: blue;
  font-weight: 400;
  cursor: pointer;
  font-size: 1.1rem;
}
.testimony > hr {
  height: 1px;
  width: 80%;
  border: none;
  background: rgb(218, 232, 92);
}

.footer-container {
  width: 100%;
  margin-top: 5rem;
}
.footer-container > hr {
  width: 100%;
  height: 1px;
  background: white;
  border: none;
  margin-top: 1rem;
}
.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
.footer {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.footer-logo {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}
.footer-img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
.block {
  display: block;
  flex-direction: column;
  gap: 1rem;
  width: 12rem;
}
.details {
  display: flex;
  flex-direction: column;
  width: inherit;
  font-size: 0.7rem;
  gap: 1rem;
  font-style: italic;
}
.details > span:nth-child(1) {
  font-weight: 500;
  font-style: normal;
  font-size: 1.2rem;
  margin-left: 2rem;
}
.pngLine:hover {
  cursor: pointer;
}
.pngLine {
  display: flex;
  gap: 1rem;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.pngLine > span:nth-child(1),
.icons {
  width: 25px;
  color: rgb(69, 170, 210);
}
.copyRight {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  font-size: 0.7rem;
  margin-top: 3rem;
  cursor: pointer;
}
.bar {
  display: none;
}
@media screen and (max-width: 640px) {
  * {
    margin: 0;
    padding: 0;
  }

  /* Header */
  .right-logo {
    display: none;
  }
  .bar {
    display: flex;
  }
  .header-container {
    display: flex;
    justify-content: space-between;
  }
  .menu-icon {
    width: 2rem;
    padding: 1rem;
    position: relative;
  }
  .menu-list-mobile {
    position: absolute;
    list-style-type: none;
    display: flex;
    font-size: 1.4rem;
    padding: 1rem;
    flex-direction: column;
    margin-left: -4rem;
    border-radius: 5px;
    z-index: 9999;
    background-color: white;
  }
  .mobile {
    margin-right: 5rem;
  }
  .slider-container {
    width: 100%;
    height: 10px;
    display: flex;
    flex-direction: row;
  }
  .slider-container .swiper-button-prev,
  .slider-container .swiper-button-next {
    display: none;
  }
  .swiper-slide {
    display: flex;
    flex-direction: column;
  }
  .name > span:nth-child(2) {
    display: none;
  }
  .name > span:nth-child(1) {
    font-size: 1rem;
    font-weight: 600;
  }
  .left-s {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .left-s:nth-child(2) {
    font-weight: bold;
    font-size: 2rem;
    display: none;
  }
  .for-shop {
    display: none;
  }
  .slider-price {
    display: none;
  }
  .image-product {
    transform: rotate(290deg);
    width: 40px;
    height: 6rem;
    bottom: -20%;
  }
  .virtual-img {
    width: fit-content;
  }
  .product-container {
    gap: 1rem;
    flex-wrap: wrap;
  }
  .product-list {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }
  .product-container > :nth-child(1) {
    display: none;
  }
  .products {
    gap: 2.4rem;
  }
  .products {
    grid-template-columns: none;
  }
  .product-menu {
    flex-direction: column;
    flex-wrap: wrap;
  }
  .product {
    width: 10rem;
  }

  .footer-logo {
    display: none;
  }
  .footer-container {
    justify-content: center;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: center;
    font-size: 1.7rem;
    margin-top: -4rem;
  }
}
@media screen and (max-width: 768px) {
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    font-size: 1.7rem;
    gap: 2rem;
  }
}
@media screen and (max-width: 390px) {
  .testmonials-wrapper > img {
    display: none;
  }
  .testmonial-name {
    font-size: 0.8rem;
  }
  .carousal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
 
  .virtual-img{
    width: 240px;

  }
}
@media screen and (max-width:   414px) {
  .testmonials-wrapper{
    display: none;
  }
  .virtual-img{
    min-width: 300px;
    max-width: 400px;
  }
  .testmonial-name {
    font-size: 0.8rem;
  }
  .carousal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }
  .review{
  display: none;

}
}

@media screen and (max-width: 856px) {
  .header-search {
    display: none;
  }
  .hero-img {
    width: 100%;
    height: 70%;
  }
  .hero-signup {
    display: none;
  }
  .right .hero-text2 > :nth-child(1),
  .hero-text2 > :nth-child(2) {
    font-size: 0.9rem;
    text-align: justify;
  }
  .hero-text2 > span:nth-of-type(1),
  .traffic > span:nth-child(1),
  .customers > span:nth-child(1) {
    font-size: 1.5rem;
    text-align: left;
  }
  .hero-container {
    grid-template-columns: 1fr 3fr;
  }

  .hero-side2 {
    display: none;
  }
  /* Slider */
  .slider-container {
    position: relative;
    padding: 0;
  }
  .slider-container .swiper {
    width: 90%;
    height: 10rem;
    position: unset;
  }
  .slider-container .swiper-slide {
    display: flex;
    background: white;
    border-radius: 30px;
  }
  .slider-container {
    width: 100%;
    height: 10px;
  }
  .slider-container .swiper-button-prev,
  .slider-container .swiper-button-next {
    display: none;
  }
  .name > span:nth-child(2) {
    display: none;
  }
  .name > span:nth-child(1) {
    font-size: 1rem;
    font-weight: 600;
  }
  .name > span:nth-child(2) {
    font-size: 0.7rem;
  }

  .left-s:nth-child(2) {
    font-weight: bold;
    font-size: 2rem;
  }
  .left-s:nth-child(3) {
    font-size: 0.6rem;
    border: 1px solid var(--black);
    padding: 5px 10px;
    width: max-content;
    border-radius: 15px;
  }
  .image-product {
    transform: rotate(-20deg);
    position: absolute;
    right: -50%;
    width: 40px;
    height: 100%;
    bottom: -20%;
  }
  .virtual-container {
    gap: 1rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 1rem;
    text-align: center;
    margin-top: 10rem;
  }
  .product-container {
    gap: 1rem;
  }
  .product-container > :nth-child(1) {
    display: none;
  }
  .products {
    grid-template-columns: none;
    gap: 1rem;
  }
  .product-menu {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
